<%

var title = 'AWS Data Engineer and DevOps Expert for hire! - GetGoetz.com';
var desc = 'AWS Data Engineer and DevOps Expert for hire!';
var url = 'getgoetz.com';

%><!DOCTYPE html>
<html lang="en-GB" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= title %></title>
  <meta name="description" content="<%= desc %>">
  <meta name="keywords" content="aws, devops, serverless, amazon web service, it consultant, munich, consultanting, consultancy, goetz, epperlein, goetz epperlein">
  <meta name="author" content="Goetz Epperlein">

  <meta name="geo.region" content="DE-BY" />
  <meta name="geo.placename" content="M&uuml;nchen" />
  <meta name="geo.position" content="48.135125;11.58198" />
  <meta name="ICBM" content="48.135125, 11.58198" />

  <link rel="canonical" href="http://www.<%= url %>"/>
  <link rel="canonical" href="http://getgoetz.de"/>

  <meta property="og:title" content="<%= title %>" />
	<meta property="og:description" content="<%= desc %>" />
	<meta property="og:url" content="http://<%= url %>" />
	<meta property="og:locale" content="en_GB" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="<%= url %>" />

</head>

<body>
  <% include ./src/cnt/top.ejs %>
  <% include ./src/cnt/content.ejs %>
</body>

</html>
